@model WebSocketsNetCore.ViewModels.Shared.DeleteVM

@{
    Layout = "_ModalLayout";
    ViewData["Title"] = "Topic";
}


<form asp-action="Delete" data-ajax="true" data-ajax-method="POST" data-ajax-update="#newmodal">
    <input type="hidden" asp-for="Id">
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label">Está seguro de eliminar el topic?</label>
        </div>
        <div class="text-xs-right">
            <button type="submit" class="btn btn-primary">
                Borrar
            </button>
        </div>

    </div>
</form>

@section Scripts {
    <script>
        $.validator.unobtrusive.parse('.modal form');
    </script>

    @if (Model.Deleted) 
    {
        <script>
            $('.modal-header .close').click();
            setTimeout(() => { location.reload(); }, 500);
        </script>
    }
}