@model WebSocketsNetCore.ViewModels.Topic.NewVM

@{
    Layout = "_ModalLayout";
    ViewData["Title"] = "Topic";
}


<form asp-action="New" data-ajax="true" data-ajax-method="POST" data-ajax-update="newmodal">
    <input type="hidden" asp-for="Id">
    <div class="modal-body">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Nombre del topic</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name"></span>
        </div>
        <div class="text-xs-right">
            <button class="btn btn-primary">
                Guardar
            </button>
        </div>

    </div>
</form>

@section Scripts {
    <script>
        $.validator.unobtrusive.parse('.modal form');
    </script>

    @if (ViewBag.Saved != null) 
    {
        <script>
            $('.modal-header .close').click();
        </script>
    }
}